@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
  .hero{
    position: relative;
    height:250vh;
    width:100%;
  }
  .slider{
    position: sticky;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider-child{
    height: 100%;
    width: 100%;
   position: absolute;
   
  }
  .slider-child:nth-child(1)
  {
     background-color: red;
     z-index:2
  }
  .slider-child:nth-child(2)
  {
    background-color: green;
    z-index:1
  }
  .slider-child:nth-child(2)::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.624);
  }
  .slider-child-media{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /* border:3px solid yellow; */
    overflow: hidden;
  }
  .slider-child-text{
    position: absolute;
    top:2px;
    left:0;
    border:2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    gap:10px;
  }
}